<div class="container-fluid">
    <section class="row bg-light">
     <footer class="col-12">
        <section class="row">
            <div class="col-3 text-centre">
                <h5 class="text-centre">Join us on</h5>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                 <a href=""><i class="fa fa-instagram"></i></a>
                 <a href=""><i class="fa fa-linkedin"></i></a>

            </div>
             <div class="col-3 text-centre">
                 <h5>About Kiosk </h5>
                 <a href="">About us</a>
                 <a href="">Returns and Refunds Policy</a>
                 <a href="">Terms and Conditions</a>
                 <a href="">Privacy & Cookie Notice</a>
                 <a href="">Black Friday 2022</a>
                 <a href="">Flash Sales</a>

            </div>
             <div class="col-3 text-centre">
                <h5>Kiosk International</h5>
                 <a href="">Uganda</a>
                 <a href="">Tanzania</a>
                 <a href="">South Africa</a>
                 <a href="">Ethiopia</a>
                 <a href="">Malawi</a>
                 <a href="">South Sudan</a>
            </div>
            <div class="col-3 text-centre">
                <h5>Payment methods</h5>
                 <a href=""><i class="fa fa-paypal" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-cc-visa" aria-hidden="true"></i></i></a>
                 <a href=""><i class="fa fa-money" aria-hidden="true"></i></a>
                 <a href=""><i class="fa fa-cc-mastercard" aria-hidden="true"></i></i></a>
            </div>

        </section>
         <hr>

         <p class="text-dark text-centre">@copyright 2022 All Rights Reserved</p>



    </footer>
        </section>
    </div>


