<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<div class="container card shadow p-5 mt-5 bg-success">
    <h2 class=" text-white">{{message}}</h2>
    <a href="/" class="btn btn-success btn-lg bg-info" style="margin-left:100px; margin-right:100px;">Continue Shopping</a>

</div>

</body>
</html>