<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='resource/products.css')}}">

    <script>
        function logout()
        {
        alert("Leaving now?")


        }

    </script>

</head>
<body>

    <div class="container">


        <h1 class="heading text-info">KIOSK SHOP Online Store <span>Welcome!</span></h1>
         <b>
           <h2>welcome {{session['key']}} : {{session['email']}}</h2>
        </b>

        <a href="/logout" class="btn btn-danger btn-lg mb-2" onclick="logout()">Log Out</a>
         <a href="/m" class="btn btn-info btn-lg mb-2" >Medicine</a>
        <marquee class="display-4 bg-info" direction="left">AFFORDABLE PRICES NATIONWIDE!!!</marquee>

        <div class="gallery card shadow bg-secondary p-5 mb-5">
                {% for phone in phones %}


            <div class="card shadow" style="border-radius:10px;">
            <div class="gallery-item">
                <img class="gallery-image" src="../static/images/{{phone[7]}}" alt="" style="border-radius:10px;">
            </div>

            <div class="card-body text-center">

               <p class="display-5">{{phone[1]}}</p>

                <p class="display-6">KES{{phone[3]}}</p>

                <p>Discount {{phone[4]}}</p>
                 <p class="lead">{{phone[2]}}</p>

                <a href="/single/{{phone[0]}}" class="btn btn-primary btn-lg">Add to Cart</a>

            </div>

          </div>
                {% endfor %}
    </div>
        <marquee class="display-4 bg-white" direction="bounce">BLACK FRIDAY IS HERE!!!</marquee>
        <div class="gallery card shadow bg-secondary p-5 mb-5">
                {% for sneaker in sneakers %}


            <div class="card shadow" style="border-radius:10px;">
            <div class="gallery-item">
                <img class="gallery-image" src="../static/images/{{sneaker[7]}}" alt="" style="border-radius:10px;">
            </div>

            <div class="card-body text-center">

               <p class="display-5">{{sneaker[1]}}</p>

                <p class="display-6">KES{{sneaker[3]}}</p>

                <p>Discount {{sneaker[4]}}</p>
                 <p class="lead">{{sneaker[2]}}</p>

                <a href="/single/{{sneaker[0]}}" class="btn btn-primary btn-lg">Add to Cart</a>

            </div>

          </div>
                {% endfor %}


    </div>
         <marquee class="display-4 bg-info" direction="bounce">SHOP NOW !!!</marquee>
         <div class="gallery card shadow bg-secondary p-5 mb-3">
                {% for electronic in electronics %}


            <div class="card shadow" style="border-radius:10px;">
            <div class="gallery-item">
                <img class="gallery-image" src="../static/images/{{electronic[7]}}" alt="" style="border-radius:10px;">
            </div>

            <div class="card-body text-center">

               <p class="display-5">{{electronic[1]}}</p>

                <p class="display-6">KES{{electronic[3]}}</p>

                <p>Discount {{electronic[4]}}</p>
                 <p class="lead">{{electronic[2]}}</p>

                <a href="/single/{{electronic[0]}}" class="btn btn-primary btn-lg">Add to Cart</a>

            </div>

          </div>
                {% endfor %}


         </div>
    </div>
</body>
</html>