

<header class="section-header">

<nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
<div class="container-fluid">
    <ul class="navbar-nav d-none d-md-flex mr-auto">
		<li class="nav-item"><a class="nav-link" href="#" data-abc="true">Cash On Delivery</a></li>
		<li class="nav-item"><a class="nav-link" href="#" data-abc="true">Free Delivery</a></li>
		<li class="nav-item"><a class="nav-link" href="#" data-abc="true">Cash Backs</a></li>
    </ul>
    <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
		    <div class="d-flex flex-row">
		        <img src="" class="rounded-circle" width="30">
		    </div>
		</li>
		<li class="nav-item">
		    <a href="#" class="nav-link d-flex align-items-center" data-abc="true"><span>{{session['email']}}</span><i class='bx bxs-chevron-down'></i></a>
		</li>
        <li class="nav-item">
		    <li class="nav-item">
        {% if 'key' not in session %}
		    <a href="/login" class="btn btn-danger btn-lg mb-2">login</a>
            <a href="/signup" class="btn btn-danger btn-lg mb-2">Sign up</a>
        {% else %}
        <a href="/logout" class="btn btn-danger btn-lg mb-2" onclick="logout()">Logout</a>
        {% endif %}
		</li>
		</li>

	</ul> <!-- list-inline //  -->
  </div> <!-- navbar-collapse .// -->
 <!-- container //  -->
</nav> <!-- header-top-light.// -->

<section class="header-main border-bottom bg-white">
	<div class="container-fluid">
       <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
           <div class="col-md-2">
              <a href="/" style="text-decoration:none " class="text-black"><h1>KIOSK SHOP</h1></a>
           </div>
           <div class="col-md-8">
        <div class="d-flex form-inputs" >

            <form action="/" method="post">
        <input type="text" name="search" id="search" class="form-control" type="text" placeholder="Search any product..." >

<!--        <i class="bx bx-search"></i>-->
          <input type="submit" value="Search" class="btn btn-light btn-lg">

            </form>
        </div>

           </div>

           <div class="col-md-2">
               <div class="d-flex d-none d-md-flex flex-row align-items-center">
                   <span class="shop-bag"><i class='bx bxs-shopping-bag'></i></span>
                   <div class="d-flex flex-column ms-2">
                       <span class="qty">1 Product</span>
                       <span class="fw-bold">$27.90</span>
                   </div>
               </div>
           </div>
       </div>
	</div>
</section>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-md-none d-md-flex" href="#">Categories</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" aria-current="page" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Electronics</a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Televisions</a></li>
            <li><a class="dropdown-item" href="#">Cameras</a></li>
            <li><a class="dropdown-item" href="#">Accessories & supplies</a></li>
                <li><a class="dropdown-item" href="#">Home Audio</a></li>
                <li><a class="dropdown-item" href="#">Laptops</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fashion
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Kids Fashion</a></li>
            <li><a class="dropdown-item" href="#">Luggage & travel gear</a></li>
            <li><a class="dropdown-item" href="#">Watches</a></li>
                <li><a class="dropdown-item" href="#">Women's fashion</a></li>
                <li><a class="dropdown-item" href="#">Jewelery & Accessories</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/m">Medicine</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mobiles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Smart Phones</a></li>
            <li><a class="dropdown-item" href="#">Feature Phones</a></li>
            <li><a class="dropdown-item" href="#">Mobile Covers</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
