<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form>
  <center><h3>Register Here</h3>
      <hr>
  First name: <br><input type ="text" placeholder="Enter first name"> <br>
  Second name:<br> <input type ="text" placeholder="Enter second name"> <br>
  Mobile:<br><input type ="number" placeholder="Enter mobile number"> <br>
  Email: <br><input type ="email" placeholder="Enter email"> <br>
  Password:<br><input type ="password" placeholder="Enter your password"><br>
  Confirm password:<br> <input type ="password" placeholder="Enter your password again"> <br>
  <input type= "submit" value="sign up"> <br>
</center>



</form>







</body>
</html>